<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="vi">
<!--<![endif]-->

<!-- Mirrored from thecoffeehouse.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Feb 2026 05:57:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <!--[if lt IE 9]><script src="//hstatic.net/0/0/global/design/theme-default/html5shiv.js"></script><![endif]-->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="revisit-after" content="1 day" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="true">
  <title>The Coffee House - Delivery 1800 6936</title>
  <meta name="description" content="Hơn 84 cửa hàng The Coffee House tại Thành Phố Hồ Chí Minh, Hà Nội, Vũng Tàu, Bình Dương, Đồng Nai, Hải Phòng, Hưng Yên sẵn sàng phục vụ bạn. Giao hàng miễn phí tại các thành phố qua chỉ cần gọi 1800 6936 !" />

  <link rel="shortcut icon" href="cdn.hstatic.net/themes/1000075078/1001392287/14/favicon1f45.png?v=2218" type="image/png" />
  <link rel="canonical" href="/" />
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

  <meta name="keywords" content="The Coffee House">
  <meta name="robots" content="index,follow,noodp">




  <link rel="dns-prefetch" href="/">
  <link rel="dns-prefetch" href="http://hstatic.net/">
  <link rel="dns-prefetch" href="http://theme.hstatic.net/">
  <link rel="dns-prefetch" href="http://product.hstatic.net/">
  <link rel="dns-prefetch" href="http://file.hstatic.net/">
  <link rel="dns-prefetch" href="http://www.google-analytics.com/">
  <link rel="dns-prefetch" href="http://www.googletagmanager.com/">
  <link rel="dns-prefetch" href="http://www.google.com/">
  <link rel="dns-prefetch" href="http://fonts.gstatic.com/">
  <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="http://www.facebook.com/">
  <link rel="dns-prefetch" href="http://connect.facebook.net/">
  <link rel="dns-prefetch" href="http://static.ak.facebook.com/">
  <link rel="dns-prefetch" href="http://static.ak.fbcdn.net/">
  <link rel="dns-prefetch" href="http://s-static.ak.facebook.com/">

  <!----- Preload Font ----->
  <link rel="preconnect" href="https://product.hstatic.net/" />
  <link rel="preconnect" href="https://theme.hstatic.net/" />
  <link rel="preconnect" href="https://file.hstatic.net/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" />

  <!----- Preload IMG // (Thêm sau)----->

  <!----- Preload CSS ----->
  <link rel="preload stylesheet" href="cdn.hstatic.net/themes/1000075078/1001392287/14/libs1f45.css?v=2218" as="style">
  <link rel="preload stylesheet" href="file.hstatic.net/1000075078/file/aos.css">
  <link rel="preload stylesheet" href="file.hstatic.net/1000075078/file/toastify.min.css" type="text/css">
  <link rel="preload stylesheet" href="file.hstatic.net/1000075078/file/slick_d9b7cd1cb6f34c47a8ffe74c66bb42dc.css" as="style">
  <link rel="preload stylesheet" href="cdn.hstatic.net/themes/1000075078/1001392287/14/jquery-ui1f45.css?v=2218" as="style">
  <link rel="preload stylesheet" href="cdn.hstatic.net/themes/1000075078/1001392287/14/general.scss1f45.css?v=2218" as="style">

  <link rel="preload stylesheet" href="cdn.hstatic.net/themes/1000075078/1001392287/14/index.scss1f45.css?v=2218" ass="style">


  <!----- Preload JS ----->
  <link rel="preload" type="text/javascript" as="script" href="cdn.hstatic.net/themes/1000075078/1001392287/14/jquery.min1f45.js?v=2218">
  <link rel="preload" type="text/javascript" as="script" href="cdn.hstatic.net/themes/1000075078/1001392287/14/libs1f45.js?v=2218">
  <link rel="preload" type="text/javascript" as="script" href="file.hstatic.net/1000075078/file/gsap.min.js">
  <link rel="preload" type="text/javascript" as="script" href="file.hstatic.net/1000075078/file/scrolltrigger.min.js">
  <link rel="preload" type="text/javascript" as="script" href="file.hstatic.net/1000075078/file/aos.js">
  <link rel="preload" type="text/javascript" as="script" href="file.hstatic.net/1000075078/file/toastify-js.js">
  <link rel="preload" type="text/javascript" as="script" href="file.hstatic.net/1000075078/file/slick.min_44f51cd0829c46799faa82f2b7519385.js">
  <link rel="preload" type="text/javascript" as="script" href="cdn.hstatic.net/themes/1000075078/1001392287/14/general1f45.js?v=2218" fetchpriority="high">
  <link rel="preload" type="text/javascript" as="script" href="cdn.hstatic.net/themes/1000075078/1001392287/14/main1f45.js?v=2218" fetchpriority="low">
  <script type="text/javascript" src="cdn.hstatic.net/themes/1000075078/1001392287/14/jquery.min1f45.js?v=2218"></script>
  <style>
    .text-float__container {
      position: relative;
    }

    .float-image-wrapper {
      position: absolute;
      width: clamp(20px, calc(5vw + (var(--width) / 2)), var(--width));
      top: var(--pos-y);
      right: var(--pos-x);
      z-index: var(--pos-z);
    }

    @media (max-width: 767.98px) {
      .float-image-wrapper.mobile {
        width: clamp(20px, calc(5vw + (var(--width-mb) / 2)), var(--width-mb));
        top: var(--pos-y-mb);
        right: var(--pos-x-mb);
        z-index: var(--pos-z);
      }
    }

    img.float-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 200;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-extralight.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 200;
      font-style: italic;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-extralightitalic.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 300;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-light.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 300;
      font-style: italic;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-lightitalic.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 400;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-regular.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 400;
      font-style: italic;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-italic.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 500;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-medium.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 500;
      font-style: italic;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-mediumitalic.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 600;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-semibold.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 600;
      font-style: italic;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-semibolditalic.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 700;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-bold.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 700;
      font-style: italic;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-bolditalic.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 800;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-extrabold.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Plus Jakarta Sans';
      font-weight: 800;
      font-style: italic;
      src: url('https://file.hstatic.net/1000075078/file/plusjakartasans-extrabolditalic.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Beau Sweet Sans';
      font-weight: 300;
      src: url('https://file.hstatic.net/1000075078/file/beausweetsans-light.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Beau Sweet Sans';
      font-weight: 700;
      src: url('https://file.hstatic.net/1000075078/file/beausweetsans-bold.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Beau Sweet Sans';
      font-weight: 500;
      src: url('https://file.hstatic.net/1000075078/file/beausweetsans-medium.ttf') format('truetype');
    }
  </style>
  <script>
    window.shop = {
      terms: "",
      template: 'index',
      shopCurrency: "VND",
      moneyFormat: '{{amount}} đ',
      StoreJson: 'https://script.google.com/macros/s/AKfycbyM2wfLbIYJl9FHmgPySuL6O4flUwFIbf0A_nO4Q041_yObIqpzAUGehJSXVOaXTQpw7A/exec',
      favorites: {
        listhandle: [],
        listid: []
      },
      plugin: ["//cdn.hstatic.net/themes/1000075078/1001392287/14/libs.js?v=2218", "cdn.hstatic.net/shared/api.jquery.js", "https://cdn.hstatic.net/shared/option_selection.js"],
      getScriptCcd: (url, callback) => {
        $.ajax({
          type: "GET",
          url: url,
          success: callback,
          dataType: "script",
          cache: true
        });
      },
      getdatasite: (url, callback, callbackcustom) => {
        $.ajax({
          type: "GET",
          url: url,
          success: function(data) {
            callback.html(data);
            if (typeof(callbackcustom) == 'function') callbackcustom()
          },
          cache: true
        });
      },
      productjson: {
        "error": "json not allowed for this object"
      }
    }
    window.account = {
      logged: false,
      id: null,
      email: null,
      name: null,
      lastName: null,
      firstName: null,
      tag: ""
    }
  </script>
  <script>
    /* recapcha */
    setTimeout(function() {
      ! function(e, t, n) {
        var a = t.getElementsByTagName(n)[0],
          c = t.createElement(n);
        c.async = true, c.src = "www.google.com/recaptcha/api030a.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s", a.parentNode.insertBefore(c, a)
      }(window, document, "script");
    }, 5000);
  </script>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="The Coffee House - Delivery 1800 6936" />
  <meta property="og:image" content="http://cdn.hstatic.net/themes/1000075078/1001392287/14/share_fb_home.png?v=2218" />
  <meta property="og:image:secure_url" content="https://cdn.hstatic.net/themes/1000075078/1001392287/14/share_fb_home.png?v=2218" />
  <meta property="og:description" content="Hơn 84 cửa h&#224;ng The Coffee House tại Th&#224;nh Phố Hồ Ch&#237; Minh, H&#224; Nội, Vũng T&#224;u, B&#236;nh Dương, Đồng Nai, Hải Ph&#242;ng, Hưng Y&#234;n sẵn s&#224;ng phục vụ bạn. Giao h&#224;ng miễn ph&#237; tại c&#225;c th&#224;nh phố qua chỉ cần gọi 1800 6936 !" />
  <meta property="og:url" content="https://thecoffeehouse.com/" />
  <meta property="og:site_name" content="The Coffee House" />





  <!-- SEO META DESCRIPTION -->
  <meta name="description" content="Hơn 84 cửa hàng The Coffee House tại Thành Phố Hồ Chí Minh, Hà Nội, Vũng Tàu, Bình Dương, Đồng Nai, Hải Phòng, Hưng Yên sẵn sàng phục vụ bạn. Giao hàng miễn phí tại các thành phố qua chỉ cần gọi 1800 6936 !" />
  <!-- END SEO META DESCRIPTION -->

  <!-- SEO PAGI -->


  <!-- END SEO PAGI -->
  <script type='text/javascript'>
    //<![CDATA[
    if ((typeof Haravan) === 'undefined') {
      Haravan = {};
    }
    Haravan.culture = 'vi-VN';
    Haravan.shop = 'thecoffeehouse.myharavan.com';
    Haravan.theme = {
      "name": "new-082025",
      "id": 1001392287,
      "role": "main"
    };
    Haravan.domain = 'thecoffeehouse.com';
    //]]>
  </script>
  <script defer src='stats.hstatic.net/beacon.min.js' hrv-beacon-t='1000075078'></script>
  <style>
    .grecaptcha-badge {
      visibility: hidden;
    }
  </style>
  <script type='text/javascript'>
    window.HaravanAnalytics = window.HaravanAnalytics || {};
    window.HaravanAnalytics.meta = window.HaravanAnalytics.meta || {};
    window.HaravanAnalytics.meta.currency = 'VND';
    var meta = {
      "page": {
        "pageType": "home"
      }
    };
    for (var attr in meta) {
      window.HaravanAnalytics.meta[attr] = meta[attr];
    }
  </script>
  <script>
    //<![CDATA[
    window.HaravanAnalytics.ga = "UA-74991073-1";
    window.HaravanAnalytics.enhancedEcommerce = true;
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'www.google-analytics.com/analytics.js', 'ga');
    ga('create', window.HaravanAnalytics.ga, {
      cookieDomain: 'auto',
      siteSpeedSampleRate: '10',
      sampleRate: 100,
      allowLinker: true
    });
    ga('send', 'pageview');
    ga('require', 'linker');
    ga('require', 'linker');
    try {
      ! function(e, t, n) {
        var a = t.getElementsByTagName(n)[0],
          c = t.createElement(n);
        c.async = false, c.src = "theme.hstatic.net/1000075078/1000927319/14/checkout_scriptec92.js?v=" + (new Date).getTime(), a.parentNode.insertBefore(c, a)
      }(window, document, "script");
    } catch (e) {};
    //]]>
  </script>
  <script async src='https://www.googletagmanager.com/gtag/js?id=G-M3FEQ7RXH4'></script>
  <script>
    window.HaravanAnalytics.ga4 = "G-M3FEQ7RXH4";
    window.HaravanAnalytics.enhancedEcommercev4 = false;
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-M3FEQ7RXH4');
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "thecoffeehouse.com",
      "url": "https://thecoffeehouse.com",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://thecoffeehouse.com/search?&q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>

</head>

<body class="mainBody-theme temp-index" itemscope itemtype="http://schema.org/Website">
  <div class="loader_overlay"></div>
  <div class="mainBody-theme-container">
    <div class="mainHeader--height header-index">
      <header class="mainHeader ">
        <div class="container">
          <div class="header-wrapper">
            <div class="wrap-logo">

              <a href="/">
                <picture class="logo-black">
                  <source media="(max-width: 767px)" srcset="//cdn.hstatic.net/themes/1000075078/1001392287/14/logo-mb.png?v=2218" />
                  <source media="(min-width: 768px)" srcset="//cdn.hstatic.net/themes/1000075078/1001392287/14/logo.png?v=2218" />
                  <img class="logomb-black" src="cdn.hstatic.net/themes/1000075078/1001392287/14/logo1f45.png?v=2218" alt="" />
                </picture>
                <picture class="logo-white">
                  <source media="(max-width: 767px)" srcset="//cdn.hstatic.net/themes/1000075078/1001392287/14/logo-mb-white.png?v=2218" />
                  <source media="(min-width: 768px)" srcset="//cdn.hstatic.net/themes/1000075078/1001392287/14/logo-white.png?v=2218" />
                  <img class="logomb-white" src="cdn.hstatic.net/themes/1000075078/1001392287/14/%20logo-white1f45.html?v=2218" alt="" />
                </picture>

              </a>
              <h1 style="display:none"><a href="/">The Coffee House</a></h1>

            </div>
            <div class="main-nav d-none d-md-block">
              <ul>
                <li>
                  <a href="/">TRANG CHỦ</a>
                </li>
                <li>
                  <a href="collections/all3aea.html?themeid=1001392287">"NHÀ" COLLECTION</a>
                </li>
                <li>
                  <a href="pages/chinh-sach-bao-mat-thong-tine60f.html?view=aboutus&amp;themeid=1001392287">CHUYỆN "NHÀ"</a>
                </li>
                <li>
                  <a href="blogs/coffeeholic.html">TIN TỨC</a>
                </li>
                <li>
                  <a href="pages/danh-sach-cua-hang.html">CỬA HÀNG</a>
                </li>
                <li>
                  <a href="pages/lien-he.html">LIÊN HỆ</a>
                </li>
                <li class="download-app">
                  <a href="pages/chinh-sach-bao-mat-thong-tinb32e.html?view=download-app" style="background: #FCECB0; color:#000000">
                    APP DOWNLOAD
                  </a>
                </li>
              </ul>
            </div>
            <div class="header-language d-none d-md-block">
              <ul>
                <li class="VI active">VI</li>
                <li class="EN">EN</li>
              </ul>
            </div>
            <div class="header-menu-mobile d-md-none">
              <a class="header-action__link" name="icon-menu-mobile" href="javascript:void(0)" aria-label="Menu" title="Menu">
                <span class="box-icon">
                  <span class="hamburger-menu" aria-hidden="true">
                    <svg width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.875 16H27.125M3.875 8.25H27.125M3.875 23.75H27.125" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                  <span class="box-icon--close">
                    <svg viewBox="0 0 19 19" role="presentation">
                      <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd"></path>
                    </svg>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <main class="body-main">
      <div class="section-home-slider" id="homepage-slider">
        <div class="slider-owl swiper ">
          <div class="swiper-wrapper ">
            <div class="swiper-slide slider-item">
              <div class="slide--image">
                <a href="collections/all.html" title="" aria-label="">
                  <picture>
                    <source media="(max-width: 767px)" srcset="cdn.hstatic.net/themes/1000075078/1001392287/14/slide_1_mb1f45.jpg?v=2218" />
                    <source media="(min-width: 768px)" class="lazyload" srcset="cdn.hstatic.net/themes/1000075078/1001392287/14/slide_1_img1f45.jpg?v=2218" />
                    <img src="cdn.hstatic.net/themes/1000075078/1001392287/14/slide_1_img1f45.jpg?v=2218" alt="" />
                  </picture>
                </a>
              </div>
            </div>





            <div class="swiper-slide slider-item">
              <div class="slide--image">
                <a href="collections/all.html" title="" aria-label="">
                  <picture>
                    <source media="(max-width: 767px)" srcset="cdn.hstatic.net/themes/1000075078/1001392287/14/slide_2_mb1f45.jpg?v=2218" />
                    <source media="(min-width: 768px)" srcset="cdn.hstatic.net/themes/1000075078/1001392287/14/slide_2_img1f45.jpg?v=2218" />
                    <img src="cdn.hstatic.net/themes/1000075078/1001392287/14/slide_2_img1f45.jpg?v=2218" alt="" />
                  </picture>
                </a>
              </div>
            </div>





          </div>
          <!-- If we need pagination -->
          <div class="home-swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="home-slider-button home-slider-button-prev"></div>
          <div class="home-slider-button home-slider-button-next"></div>
        </div>

        <div class="info-fixed " style="background: #F15A25">
          <div class="logo">
            <img src="file.hstatic.net/1000075078/file/logotch.png" alt="The Coffee House" />
          </div>
          <div class="content">
            <div class="name">MATCHA LATTE
              TÂY BẮC</div>
            <div class="price"><span>(chỉ)</span>45.000Đ</div>
            <div class="action">
              <a target="_blank" href="https://order.thecoffeehouse.com/?code=10010225">MUA NGAY</a>
            </div>
          </div>
          <div class="banner">
            <img src="file.hstatic.net/1000075078/file/img-product.png" alt="The Coffee House" />
          </div>
          <div class="circle">
            <img src="file.hstatic.net/1000075078/file/circle-text.png" alt="circle text" />
          </div>
          <div class="close" id="closeBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none">
              <path d="M5.06211 4.67773L25.1356 24.4939M24.7844 4.68991L4.71094 24.5061" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
        </div>

        <div class="mini-icon" id="miniIcon">
          <img src="cdn.hstatic.net/files/1000075078/file/brandmark.png" alt="The Coffee House" />
        </div>
      </div>
      <section class="home-text-slider">
        <div class="slick marquee">
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
          <div class="slick-slide">
            <div class="inner">
              FROM A LEADING LOCAL ESPRESSO CHAIN
            </div>
          </div>
        </div>
      </section>
      <section class="home-aboutus">
        <div class="container">
          <div class="home-aboutus-wrap">
            <div class="home-aboutus-title">CHUYỆN “NHÀ”</div>
            <div class="home-aboutus-des">The Coffee House tin rằng, nụ cười là hương vị ngọt ngào nhất trong mỗi ngày mới. Từ những ly cà phê đậm đà, những tách trà thanh mát, đến từng lời chào thân quen, chúng tôi mong mỗi vị khách khi ghé Nhà đều mang theo một niềm vui nhỏ – để rồi nụ cười ấy lại được lan toả khắp nơi.</div>
            <div class="home-aboutus-actions">
              <a href="pages/about-us.html#chuyen-nha">TÌM HIỂU</a>
            </div>
            <div class="home-aboutus-banner text-float__container">
              <img class="main-image" src="file.hstatic.net/1000075078/file/banner-home-aboutus.png" alt="" />
              <div class="text-float__img-container " rotate-float="true">
                <div class="float-image-wrapper mobile" style="
                    --width: 200px;
                    --pos-x: 70%;
                    --pos-y: 7%;
                    --width-mb: 150px;
                    --pos-x-mb: 75%;
                    --pos-y-mb: 5%;
                    --pos-z: 10;
                        ">
                  <img class="float-image" height="auto" width="200" src="file.hstatic.net/1000075078/file/sticker-aboutus-rectangle_17.png" alt="" />
                </div>
              </div>
              <div class="text-float__img-container " rotate-float="true">
                <div class="float-image-wrapper mobile" style="
                    --width: 240px;
                    --pos-x: 78%;
                    --pos-y: 25%;
                    --width-mb: 110px;
                    --pos-x-mb: 85%;
                    --pos-y-mb: 18%;
                    --pos-z: 10;
                        ">
                  <img class="float-image" height="auto" width="240" src="file.hstatic.net/1000075078/file/sticker-aboutus-quote-2.png" alt="" />
                </div>
              </div>
              <div class="text-float__img-container " rotate-float="true">
                <div class="float-image-wrapper mobile" style="
                    --width: 213px;
                    --pos-x: 71%;
                    --pos-y: 70%;
                    --width-mb: 150px;
                    --pos-x-mb: 75%;
                    --pos-y-mb: 90%;
                    --pos-z: 10;
                        ">
                  <img class="float-image" height="auto" width="213" src="file.hstatic.net/1000075078/file/sticker-aboutus-rectangle_15.png" alt="" />
                </div>
              </div>
              <div class="text-float__img-container " rotate-float="true">
                <div class="float-image-wrapper mobile" style="
                    --width: 225px;
                    --pos-x: 60%;
                    --pos-y: 80%;
                    --width-mb: 100px;
                    --pos-x-mb: 68%;
                    --pos-y-mb: 100%;
                    --pos-z: 10;
                        ">
                  <img class="float-image" height="auto" width="225" src="file.hstatic.net/1000075078/file/sticker-aboutus-vuive.png" alt="" />
                </div>
              </div>
              <div class="text-float__img-container " rotate-float="true">
                <div class="float-image-wrapper mobile" style="
                    --width: 181px;
                    --pos-x: 15%;
                    --pos-y: 27%;
                    --width-mb: 150px;
                    --pos-x-mb: 5%;
                    --pos-y-mb: 15%;
                    --pos-z: 10;
                        ">
                  <img class="float-image" height="auto" width="181" src="file.hstatic.net/1000075078/file/sticker-aboutus-quote-1.png" alt="" />
                </div>
              </div>
              <div class="text-float__img-container " rotate-float="true">
                <div class="float-image-wrapper mobile" style="
                    --width: 224px;
                    --pos-x: 10%;
                    --pos-y: 60%;
                    --width-mb: 160px;
                    --pos-x-mb: 4%;
                    --pos-y-mb: 80%;
                    --pos-z: 10;
                        ">
                  <img class="float-image" height="auto" width="224" src="file.hstatic.net/1000075078/file/sticker-aboutus-quote.png" alt="" />
                </div>
              </div>
              <div class="text-float__img-container " rotate-float="true">
                <div class="float-image-wrapper mobile" style="
                    --width: 210px;
                    --pos-x: 10%;
                    --pos-y: 70%;
                    --width-mb: 150px;
                    --pos-x-mb: 1%;
                    --pos-y-mb: 90%;
                    --pos-z: 10;
                        ">
                  <img class="float-image" height="auto" width="210" src="file.hstatic.net/1000075078/file/sticker-aboutus-rectangle_18.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- FEATURED PRODUCTS -->
      <%- include('featuredProducts/featured_products.ejs') %>

      <section class="home-aboutus-slide">
        <div class="home-aboutus-slide-wrap home-slide">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide banner-slide" style="background: #ED7542">
                <div class="banner">
                  <img src="cdn.hstatic.net/files/1000075078/file/rectangle_45__1_.jpg" alt="☕ Nguyên bản từ giá trị hạt cà phê chất lượng" />
                </div>
                <div class="content">
                  <h2>☕ Nguyên bản từ giá trị hạt cà phê chất lượng</h2>
                  <div class="des">Mọi nụ cười ở The Coffee House đều bắt đầu từ một hạt cà phê nguyên bản.</div>
                  <div class="action">
                    <a href="pages/about-us.html#nguyen-ban">
                      <span>XEM THÊM</span>
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_360_8589)">
                          <path d="M3.8457 20.8453C3.19482 21.496 2.14008 21.4962 1.48926 20.8453C0.838438 20.1945 0.838547 19.1398 1.48926 18.4889L3.8457 20.8453ZM15.5127 6.8219C16.1635 7.47271 16.1634 8.52745 15.5127 9.17834L3.8457 20.8453L1.48926 18.4889L10.3115 9.66662H-8.99902C-9.91939 9.66662 -10.6658 8.92093 -10.666 8.00061C-10.666 7.08013 -9.9195 6.33361 -8.99902 6.33361H10.3115L1.48926 -2.48767L3.8457 -4.8451L15.5127 6.8219ZM1.48926 -4.8451C2.14004 -5.4957 3.19486 -5.49559 3.8457 -4.8451L1.48926 -2.48767C0.838384 -3.13855 0.838384 -4.19422 1.48926 -4.8451Z" fill="black" />
                        </g>
                        <defs>
                          <clipPath id="clip0_360_8589">
                            <rect width="16" height="16" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide banner-slide" style="background: #809B67">
                <div class="banner">
                  <img src="cdn.hstatic.net/files/1000075078/file/rectangle_45.jpg" alt="🍃 Chất lượng khởi nguồn từ những đồi trà tuyển chọn" />
                </div>
                <div class="content">
                  <h2>🍃 Chất lượng khởi nguồn từ những đồi trà tuyển chọn</h2>
                  <div class="des">Giữa những đồi trà xanh mướt trong sương sớm, “Nhà” tìm thấy nguồn cảm hứng cho hành trình của mình – nơi từng búp trà được nâng niu, chọn lọc từ những người trồng gửi gắm cả tấm lòng. Từng lá trà tươi được hái đúng thời điểm, ướp trong hương nắng, gió và niềm vui của những bàn tay cần mẫn.</div>
                  <div class="action">
                    <a href="pages/about-us.html#chat-luong">
                      <span>XEM THÊM</span>
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_360_8589)">
                          <path d="M3.8457 20.8453C3.19482 21.496 2.14008 21.4962 1.48926 20.8453C0.838438 20.1945 0.838547 19.1398 1.48926 18.4889L3.8457 20.8453ZM15.5127 6.8219C16.1635 7.47271 16.1634 8.52745 15.5127 9.17834L3.8457 20.8453L1.48926 18.4889L10.3115 9.66662H-8.99902C-9.91939 9.66662 -10.6658 8.92093 -10.666 8.00061C-10.666 7.08013 -9.9195 6.33361 -8.99902 6.33361H10.3115L1.48926 -2.48767L3.8457 -4.8451L15.5127 6.8219ZM1.48926 -4.8451C2.14004 -5.4957 3.19486 -5.49559 3.8457 -4.8451L1.48926 -2.48767C0.838384 -3.13855 0.838384 -4.19422 1.48926 -4.8451Z" fill="black" />
                        </g>
                        <defs>
                          <clipPath id="clip0_360_8589">
                            <rect width="16" height="16" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-aboutus-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="home-slide-button home-aboutus-slide-button-prev home-slide-button-prev">
            <svg width="23" height="23" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.37175 1.14954C7.71889 0.802499 8.28141 0.802442 8.62852 1.14955C8.97562 1.49665 8.97556 2.05918 8.62852 2.40632L7.37175 1.14954ZM1.14935 8.62871C0.802245 8.28161 0.802303 7.71908 1.14935 7.37194L7.37175 1.14954L8.62852 2.40632L3.92331 7.11152L14.2223 7.11152C14.7131 7.11153 15.1112 7.50923 15.1113 8.00007C15.1113 8.49099 14.7132 8.88913 14.2223 8.88913L3.92331 8.88913L8.62852 13.5938L7.37174 14.8511L1.14935 8.62871ZM8.62852 14.8511C8.28143 15.1981 7.71886 15.198 7.37174 14.8511L8.62852 13.5938C8.97565 13.9409 8.97565 14.504 8.62852 14.8511Z" fill="black" />
            </svg>
          </div>
          <div class="home-slide-button home-aboutus-slide-button-next home-slide-button-next">
            <svg width="23" height="23" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.62825 1.14954C8.28111 0.802499 7.71859 0.802442 7.37148 1.14955C7.02438 1.49665 7.02444 2.05918 7.37148 2.40632L8.62825 1.14954ZM14.8507 8.62871C15.1978 8.28161 15.1977 7.71908 14.8507 7.37194L8.62825 1.14954L7.37148 2.40632L12.0767 7.11152L1.77773 7.11152C1.28687 7.11153 0.888765 7.50923 0.888671 8.00007C0.888671 8.49099 1.28681 8.88913 1.77773 8.88913L12.0767 8.88913L7.37148 13.5938L8.62826 14.8511L14.8507 8.62871ZM7.37148 14.8511C7.71857 15.1981 8.28114 15.198 8.62826 14.8511L7.37148 13.5938C7.02435 13.9409 7.02435 14.504 7.37148 14.8511Z" fill="black" />
            </svg>
          </div>
        </div>
      </section>
      <section class="home-stores ">
        <div class="container text-float__container">
          <div class="home-stores-wrap">
            <div class="home-stores-content">
              <h2>Tìm nhà gần bạn</h2>
              <div class="home-stores-des">
                Dù bạn ở đâu, “Nhà” cũng luôn ở gần.<br>
                Hãy tìm một góc Nhà để nhâm nhi tách cà phê, lắng nghe bản nhạc quen và tận hưởng những khoảnh khắc nhỏ vui vẻ trong ngày.
              </div>
            </div>
            <div class="home-stores-selectbox">
              <div class="home-stores-filter">
                <div class="custom_select_wrap">
                  <select id="filter_city" class="filter_city">
                    <option selected value="default">Chọn Thành phố</option>
                    <option value="Hồ Chí Minh" data-blogid="1000674013" data-handle="cua-hang-tp-ho-chi-minh">Hồ Chí Minh</option>
                    <option value="Hà Nội" data-blogid="1000683241" data-handle="cua-hang-ha-noi">Hà Nội</option>
                    <option value="Hải Phòng" data-blogid="1000673996" data-handle="cua-hang-hai-phong">Hải Phòng</option>
                    <option value="Tây Ninh" data-blogid="1000681365" data-handle="cua-hang-tay-ninh">Tây Ninh</option>
                    <option value="Khánh Hoà" data-blogid="1000683159" data-handle="cua-hang-nha-trang">Khánh Hoà</option>
                    <option value="Đồng Nai" data-blogid="1000683221" data-handle="cua-hang-dong-nai">Đồng Nai</option>
                    <option value="Hưng Yên" data-blogid="1000683229" data-handle="cua-hang-hung-yen">Hưng Yên</option>
                  </select>
                </div>
                <div class="custom_select_wrap">
                  <select id="filter_ward" class="filter_ward">
                    <option selected value="default">Chọn Phường/Xã (Sau Sáp Nhập)</option>
                  </select>
                </div>
              </div>
              <div class="home-stores-viewmore">
                <a href="pages/danh-sach-cua-hang.html">
                  <span>XEM DANH SÁCH CỬA HÀNG</span>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_360_8589)">
                      <path d="M3.8457 20.8453C3.19482 21.496 2.14008 21.4962 1.48926 20.8453C0.838438 20.1945 0.838547 19.1398 1.48926 18.4889L3.8457 20.8453ZM15.5127 6.8219C16.1635 7.47271 16.1634 8.52745 15.5127 9.17834L3.8457 20.8453L1.48926 18.4889L10.3115 9.66662H-8.99902C-9.91939 9.66662 -10.6658 8.92093 -10.666 8.00061C-10.666 7.08013 -9.9195 6.33361 -8.99902 6.33361H10.3115L1.48926 -2.48767L3.8457 -4.8451L15.5127 6.8219ZM1.48926 -4.8451C2.14004 -5.4957 3.19486 -5.49559 3.8457 -4.8451L1.48926 -2.48767C0.838384 -3.13855 0.838384 -4.19422 1.48926 -4.8451Z" fill="black" />
                    </g>
                    <defs>
                      <clipPath id="clip0_360_8589">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="text-float__img-container" rotate-float="true">
            <div class="float-image-wrapper mobile" style="
                    --width: 92px;
                    --pos-x: 85%;
                    --pos-y: -15%;
                    --width-mb: 60px;
                    --pos-x-mb: 85%;
                    --pos-y-mb: 70%;
                    --pos-z: 10;
                ">
              <img class="float-image" height="auto" width="92" src="file.hstatic.net/1000075078/file/stickerset_stores-2.png" alt="Tìm nhà gần bạn" />
            </div>
          </div>
          <div class="text-float__img-container" rotate-float="true">
            <div class="float-image-wrapper mobile" style="
                    --width: 102px;
                    --pos-x: 5%;
                    --pos-y: -15%;
                    --width-mb: 50px;
                    --pos-x-mb: 10%;
                    --pos-y-mb: 0%;
                    --pos-z: 10;
                ">
              <img class="float-image" height="auto" width="102" src="file.hstatic.net/1000075078/file/stickerset-stores3.png" alt="Tìm nhà gần bạn" />
            </div>
          </div>
          <div class="text-float__img-container " rotate-float="true">
            <div class="float-image-wrapper mobile" style="
                    --width: 120px;
                    --pos-x: 50%;
                    --pos-y: 110%;
                    --width-mb: 100px;
                    --pos-x-mb: 5%;
                    --pos-y-mb: 100%;
                    --pos-z: 10;
                ">
              <img class="float-image" height="auto" width="120" src="file.hstatic.net/1000075078/file/stickerset-stores_1.png" alt="Tìm nhà gần bạn" />
            </div>
          </div>
        </div>
      </section>

      <section class="home-information">
        <div class="container">
          <div class="row home-information-row">

            <div class="col-lg-6 col-12">
              <div class="home-instagram">
                <div class="subtitle">KẾT NỐI VỚI NHÀ</div>
                <div class="heading">
                  <h2>INSTAGRAM</h2>
                  <div class="viewmore">
                    <a href="#">
                      <span>FOLLOW NGAY</span>
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_360_8589)">
                          <path d="M3.8457 20.8453C3.19482 21.496 2.14008 21.4962 1.48926 20.8453C0.838438 20.1945 0.838547 19.1398 1.48926 18.4889L3.8457 20.8453ZM15.5127 6.8219C16.1635 7.47271 16.1634 8.52745 15.5127 9.17834L3.8457 20.8453L1.48926 18.4889L10.3115 9.66662H-8.99902C-9.91939 9.66662 -10.6658 8.92093 -10.666 8.00061C-10.666 7.08013 -9.9195 6.33361 -8.99902 6.33361H10.3115L1.48926 -2.48767L3.8457 -4.8451L15.5127 6.8219ZM1.48926 -4.8451C2.14004 -5.4957 3.19486 -5.49559 3.8457 -4.8451L1.48926 -2.48767C0.838384 -3.13855 0.838384 -4.19422 1.48926 -4.8451Z" fill="black" />
                        </g>
                        <defs>
                          <clipPath id="clip0_360_8589">
                            <rect width="16" height="16" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="home-instagram-lists">
                  <div class="item effect-image">
                    <a href="https://www.instagram.com/thecoffeehousevn/">
                      <img src="file.hstatic.net/1000075078/file/instagram1.png" alt="Instagram 1" />
                    </a>
                  </div>
                  <div class="item effect-image">
                    <a href="https://www.instagram.com/thecoffeehousevn/">
                      <img src="file.hstatic.net/1000075078/file/instagram2.png" alt="Instagram 2" />
                    </a>
                  </div>
                  <div class="item effect-image">
                    <a href="https://www.instagram.com/thecoffeehousevn/">
                      <img src="file.hstatic.net/1000075078/file/instagram3.png" alt="Instagram 3" />
                    </a>
                  </div>
                  <div class="item effect-image">
                    <a href="https://www.instagram.com/thecoffeehousevn/">
                      <img src="file.hstatic.net/1000075078/file/instagram4.png" alt="Instagram 4" />
                    </a>
                  </div>
                  <div class="item effect-image">
                    <a href="https://www.instagram.com/thecoffeehousevn/">
                      <img src="file.hstatic.net/1000075078/file/instagram5.png" alt="Instagram 5" />
                    </a>
                  </div>
                  <div class="item effect-image">
                    <a href="https://www.instagram.com/thecoffeehousevn/">
                      <img src="file.hstatic.net/1000075078/file/instagram6.png" alt="Instagram 6" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="home-news">
                <div class="subtitle">&nbsp;</div>
                <div class="heading">
                  <h2>NEWS</h2>
                  <div class="viewmore">
                    <a href="blogs/coffeeholic.html">
                      <span>XEM THÊM</span>
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_360_8589)">
                          <path d="M3.8457 20.8453C3.19482 21.496 2.14008 21.4962 1.48926 20.8453C0.838438 20.1945 0.838547 19.1398 1.48926 18.4889L3.8457 20.8453ZM15.5127 6.8219C16.1635 7.47271 16.1634 8.52745 15.5127 9.17834L3.8457 20.8453L1.48926 18.4889L10.3115 9.66662H-8.99902C-9.91939 9.66662 -10.6658 8.92093 -10.666 8.00061C-10.666 7.08013 -9.9195 6.33361 -8.99902 6.33361H10.3115L1.48926 -2.48767L3.8457 -4.8451L15.5127 6.8219ZM1.48926 -4.8451C2.14004 -5.4957 3.19486 -5.49559 3.8457 -4.8451L1.48926 -2.48767C0.838384 -3.13855 0.838384 -4.19422 1.48926 -4.8451Z" fill="black" />
                        </g>
                        <defs>
                          <clipPath id="clip0_360_8589">
                            <rect width="16" height="16" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="content">


                  <div class="article-loop">
                    <div class="article-image effect-image">
                      <a href="blogs/coffeeholic/bat-gap-sai-gon-xua-trong-mon-uong-hien-dai-cua-gioi-tre.html" class="blog-post-thumbnail" title="BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ" rel="nofollow">
                        <img class="lazyload" data-src="file.hstatic.net/1000075078/article/thecoffeehouse_caphehighlight01_de40c0102a954c50a328f7befcdd82bd_1024x1024.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ">
                      </a>
                    </div>
                    <div class="article-detail">
                      <div class="article-post-meta d-flex flex-wrap justify-content-between">
                        <div class="article-type">Coffeeholic</div>
                        <span class="date">
                          <time pubdate datetime="01.11.2023">01.11.2023</time>
                        </span>
                      </div>
                      <h3 class="article-title">
                        <a href="blogs/coffeeholic/bat-gap-sai-gon-xua-trong-mon-uong-hien-dai-cua-gioi-tre.html">BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ</a>
                      </h3>
                      <div class="article-post-content">
                        Dẫu qua bao nhiêu lớp sóng thời gian, người ta vẫn có thể tìm lại những dấu ấn thăng trầm của một Sài Gòn xưa cũ. Trên những góc phố, trong các bức ảnh, trong vô số tác phẩm văn chương... và dĩ nhiên trong cả thiên đường ẩm thực phong phú. Món ăn đường phố Sài Gòn nức tiếng qua bao nhiêu thế hệ, trong đó có một món tưởng bình dị nhưng lại là “kho báu” của tuổi thơ, và là cảm hứng cho các tín đồ ăn uống.Thức quà vặt bất hủ của tuổi thơ&nbsp;Trong năm giây,...
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-12 d-md-none">
              <div class="logo-footer">
                <img src="cdn.hstatic.net/themes/1000075078/1001392287/14/footer-logo1f45.png?v=2218" alt="The Coffee House" />
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 order-1 order-md-1">
              <div class="footer-top-menu-wrap d-flex flex-wrap align-self-stretch">
                <div class="footer-top-menu">
                  <h3 class="footer_title">GIỚI THIỆU</h3>
                  <ul class="footer_linklists">
                    <li>
                      <a href="pages/chuyen-ca-phe-va-tra.html">
                        Về Chúng Tôi
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        Sản phẩm
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        Khuyến mãi
                      </a>
                    </li>
                    <li>
                      <a href="pages/hat-ca-phe-the-coffee-house.html">
                        Chuyện cà phê
                      </a>
                    </li>
                    <li>
                      <a href="pages/our-stores.html">
                        Cửa Hàng
                      </a>
                    </li>
                    <li>
                      <a href="http://tuyendung.thecoffeehouse.com/">
                        Tuyển dụng
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="footer-top-menu">
                  <h3 class="footer_title">ĐIỀU KHOẢN</h3>
                  <ul class="footer_linklists">
                    <li>
                      <a href="pages/dieu-khoan-su-dung.html">
                        Điều khoản sử dụng
                      </a>
                    </li>
                    <li>
                      <a href="pages/chinh-sach-bao-mat-thong-tin.html">
                        Chính sách bảo mật thông tin
                      </a>
                    </li>
                    <li>
                      <a href="pages/huong-dan-xuat-hoa-don-gtgt.html">
                        Hướng dẫn xuất hóa đơn GTGT
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 order-3 order-md-2">
              <h3 class="footer_title">© 2025 THE COFFEE HOUSE</h3>
              <div class="footer_address">
                <strong>VPGG:</strong> Tầng 6, Toà nhà Toyota, Số 315 Trường Chinh, P.Khương Mai, Q.Thanh Xuân, TP Hà Nội, Việt Nam
              </div>
              <div class="footer_address footer_hotline_email">
                <p><strong>Đặt hàng:</strong> 1800 6936</p>
                <p><strong>Email:</strong> support.hn@ggg.com.vn</p>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 order-2 order-md-3">
              <div class="logo-footer d-none d-md-block">
                <img src="cdn.hstatic.net/themes/1000075078/1001392287/14/footer-logo1f45.png?v=2218" alt="The Coffee House" />
              </div>
              <div class="footer-downloadapp">
                <h3 class="footer_title">DOWNLOAD APP<br />
                  THE COFFEE HOUSE APP</h3>
                <div class="footer-downloadapp-images">
                  <a class="android" href="/">
                    <img src="cdn.hstatic.net/files/1000075078/file/6b68dfb838acb5f2ecbd.jpg" alt="" />
                  </a>
                </div>
              </div>
              <div class="footer-social">
                <h3 class="footer_title">FOLLOW US</h3>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/The.Coffee.House.2014/">
                      <img src="file.hstatic.net/1000075078/file/facebook.png" alt="facebook" />
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      <img src="file.hstatic.net/1000075078/file/youtube.png" alt="youtube" />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/thecoffeehousevn/">
                      <img src="file.hstatic.net/1000075078/file/instagram.png" alt="instagram" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN<br />
          Mã số DN: 0312867172 do sở kế hoạch và đầu tư tp. HCM cấp ngày 23/07/2014. Người đại diện: NGÔ NGUYÊN KHA<br />
          Địa chỉ: 86-88 Cao Thắng, phường 04, quận 3, tp Hồ Chí Minh   Điện thoại: (028) 7107 8079   Email: hi@thecoffeehouse.vn<br />
          © 2014-2022 Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN mọi quyền bảo lưu</div>
      </div>
    </footer>
    <div class="modal" id="QVModal">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

          <!-- Modal body -->
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">

              <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.06211 4.67773L25.1356 24.4939M24.7844 4.68991L4.71094 24.5061" stroke="black" stroke-width="2" stroke-linecap="round" />
              </svg>

            </button>
            <div class="QVModal-content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-mobile">
    <div class="menu-mobile-inner">
      <div class="main-nav-mb">
        <ul>
          <li>
            <a href="/">TRANG CHỦ</a>
          </li>
          <li>
            <a href="collections/all3aea.html?themeid=1001392287">"NHÀ" COLLECTION</a>
          </li>
          <li>
            <a href="pages/chinh-sach-bao-mat-thong-tine60f.html?view=aboutus&amp;themeid=1001392287">CHUYỆN "NHÀ"</a>
          </li>
          <li>
            <a href="blogs/coffeeholic.html">TIN TỨC</a>
          </li>
          <li>
            <a href="pages/danh-sach-cua-hang.html">CỬA HÀNG</a>
          </li>
          <li>
            <a href="pages/lien-he.html">LIÊN HỆ</a>
          </li>
          <li class="download-app">
            <a href="pages/chinh-sach-bao-mat-thong-tinb32e.html?view=download-app" style="background: #FCECB0; color:#000000">
              APP DOWNLOAD
            </a>
          </li>
        </ul>
      </div>
      <div class="header-language">
        <ul>
          <li class="VI active">VI</li>
          <li class="EN">EN</li>
        </ul>
      </div>
    </div>
    <div class="menu-mobile-overlay"></div>

  </div>
  <script src='cdn.hstatic.net/shared/option_selection.js' type='text/javascript'></script>
  <script src='cdn.hstatic.net/shared/api.jquery.js' type='text/javascript'></script>

  <script src='cdn.hstatic.net/themes/1000075078/1001392287/14/libs1f45.js?v=2218' type='text/javascript'></script>
  <script src="file.hstatic.net/1000075078/file/gsap.min.js"></script>
  <script src="file.hstatic.net/1000075078/file/scrolltrigger.min.js"></script>
  <script src="file.hstatic.net/1000075078/file/aos.js"></script>
  <script type="text/javascript" src="file.hstatic.net/1000075078/file/toastify-js.js"></script>
  <script type="text/javascript" src="file.hstatic.net/1000075078/file/jquery.arctext.js"></script>
  <script type="text/javascript" src="file.hstatic.net/1000075078/file/slick.min_44f51cd0829c46799faa82f2b7519385.js"></script>


  <!-- SCRIPT THEME -->

  <script type='text/javascript' src="cdn.hstatic.net/themes/1000075078/1001392287/14/general1f45.js?v=2218"></script>
  <script type='text/javascript' src="cdn.hstatic.net/themes/1000075078/1001392287/14/main1f45.js?v=2218"></script>
</body>

<!-- Mirrored from thecoffeehouse.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Feb 2026 06:00:36 GMT -->

</html>